h1 {
  color: rgb(255, 0, 0);
  font-size: large;
  background-color: blue;
}

button {
  color: darkviolet;
  background-color: #d2b48c;
}

p {
  color: white;
  background-color: rgba(112, 128, 143, 0.726);
}
